<template>
     <v-container fluid>
      <v-row dense>
        <v-col v-for="article in allArticles.data" :key="article.id">
          <v-card>
            <v-img
              :src="'https://cdn.vuetifyjs.com/images/cards/house.jpg'"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="500px"
            >
              <v-card-title v-text="article.tittle"></v-card-title>
            </v-img>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon>mdi-bookmark</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon>mdi-share-variant</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: "Articles",
    methods: {
        ...mapActions(["fetchArticles"]),
    },
    computed: mapGetters(["allArticles"]),
    created() {
        this.fetchArticles();
    }
}
</script>