<template>
<div>
    <v-app-bar color="rgb(67, 160, 71)" dark>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>Vue Practice</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item-group v-for="link in links" :key="link.text">
            <router-link :to="link.route" class="decoration">
                <v-list-item  active-class="deep-purple--text text--accent-4">
                    <v-list-item-icon>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ link.text }}</v-list-item-title>
                </v-list-item>
            </router-link>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</div>
</template>
<script>
  export default {
    data() {
        return {
            drawer: false,
            group: false,
            links: [
                { icon: 'mdi-home', text: 'Home', route: '/' },
                { icon: 'mdi-clipboard-text-multiple', text: 'Todos', route: '/todos' },
                { icon: 'mdi-dev-to', text: 'Projects', route: '/projects' },
                { icon: 'mdi-dev-to', text: 'Articles', route: '/articles' },
            ]
        }
    },
  }
</script>

<style scoped>
.decoration{
    text-decoration: none;
}
</style>