<template>
    <div>
        <h1>Add Article</h1>
        <AddArticle />
    </div>
</template>

<script>
import AddArticle from '../components/article/AddArticle.vue'
export default {
    name: "AddArticleView",
    components: {
        AddArticle
    }
}
</script>