<template>
    <div>
        <h1>Articles</h1>
        <Articles />
    </div>
</template>

<script>
import Articles from '../components/article/Articles.vue'
export default {
    name: "ArticlesView",
    components: {
        Articles
    }
}
</script>