<template>
  <div id="app" class="home">
    <h1>Hola desde la vista</h1>
  </div>
</template>

<script>
// @ is an alias to /src
// import Home from '../components/Home.vue'

export default {
  name: 'Home',
}
</script>
