<template>
    <Register />
</template>

<script>
import Register from '../components/auth/Register.vue'
export default {
    name: "RegisterView",
    components: {
        Register
    }
}
</script>