<template>
  <div class="container">
    <div class="add">
      <AddTodo />
      <FilterTodos />
      <Todos />
    </div>
  </div>
</template>

<script>
import Todos from '../components/todos/Todos.vue'
import FilterTodos from '../components/todos/FilterTodos.vue'
import AddTodo from '../components/todos/AddTodo.vue'
export default {
  name: "TodosView",
  components: {
    Todos,
    AddTodo,
    FilterTodos
  }
}
</script>

<style scoped>
.add {
    margin-top: 50px;
}

.container{
  max-width: 1100px;
  margin:auto;
  padding: 0 2rem;
}
</style>
