<template>
  <div id="app">
    <Header />
    <router-view/>
  </div>
</template>

<script>
import Header from "./components/layout/Header";

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style>
body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
  background: #e8f7f0;
}

.theme--light.v-card {
  background-color: #e8f7f0;
}
</style>