<template>
    <v-app class="login">
        <v-card width="500" class="mx-auto mt-5">
            <!-- Title -->
            <v-card-title>
                <h1 class="display-1">Login</h1>
            </v-card-title>
            <!-- Body -->
            <v-card-text>
                <v-form @submit="onSubmit">
                    <v-text-field
                    v-model="user.email"
                    label="Email" 
                    prepend-icon="mdi-account-circle" />

                    <v-text-field 
                    v-model="user.password"
                    :type="showPassword ? 'text' : 'password'" 
                    prepend-icon="mdi-lock" 
                    append-icon="mdi-eye-off" 
                    label="Password" 
                    @click:append="showPassword = !showPassword"/>
                    <v-divider></v-divider>
                    <!-- Actions -->
                    <v-card-actions>
                        <v-btn color="success">Register</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="info" type="submit" value="Submit">Login</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-app>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'Login',

    data(){
        return {
            user: {
                email: '',
                password: '',
            },
            showPassword: false,
        }
    },

    methods: {
        ...mapActions(['login']),
        onSubmit(e) {
            e.preventDefault();
            this.login(
                this.user
            )
        }
    }
}
</script>

<style scoped>
.qlok{
    margin-top: 100px;
}
.login{
  background: #e8f7f0 !important;
}
</style>