<template>
    <v-app class="login">
        <v-card width="500" class="mx-auto mt-5">
            <!-- Title -->
            <v-card-title>
                <h1 class="display-1">Register</h1>
            </v-card-title>
            <!-- Body -->
            <v-card-text>
                <v-form>
                    <v-text-field 
                    label="First Name..." 
                    v-model="name"
                    name="name" />

                    <v-text-field 
                    label="Last Name..."
                    v-model="lastName"
                    name="lastName" />

                    <v-text-field 
                    label="E-mail..."
                    v-model="email"
                    name="lastName" />

                    <v-text-field 
                    :type="showPassword ? 'text' : 'password'"
                    append-icon="mdi-eye-off" 
                    label="Password" 
                    @click:append="showPassword = !showPassword"/>

                    <v-text-field 
                    :type="showConfPassword ? 'text' : 'password_confirmation'"
                    v-model="password_confirmation"
                    append-icon="mdi-eye-off" 
                    label="Confirma your Password..." 
                    @click:append="showConfPassword = !showConfPassword"/>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <!-- Actions -->
            <v-card-actions>
                <v-btn color="success">Register</v-btn>
            </v-card-actions>
        </v-card>
    </v-app>
</template>

<script>
export default {
    name: 'Register',

    data: () => ({
        showPassword: false,
        showConfPassword: false,
    })
}
</script>

<style scoped>
.login{
  background: #e8f7f0 !important;
}
</style>